# Generated
temp
dist
.sass-cache
.tmp
.privateContent

# Downloaded with Package Managers (NPM or Bower)
node_modules
app/bower_components

# Configuration
config.json

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Vim
*.swp
*.swo
*~

