<div>
    <div class="container" id="main">
        <div class="masthead">
            <h3 class="text-muted">Coders Classroom</h3>
            <ul class="nav nav-justified">
                {{#link-to "classes" tagName="li" href=false}}{{#link-to "classes"}}Classes{{/link-to}}{{/link-to}} 
                {{#link-to "users" tagName="li" href=false}}{{#link-to "users"}}Users{{/link-to}}{{/link-to}} 
            </ul>
        </div>

        <div class="row">
            <div>
                <!--
                <div class="col-md-3">
                    <div class="well sidebar-nav">
                        <strong>Colors</strong>
                        <ul class="list-group">
                        {{#each item in controller}}
                            <li class="list-group-item">{{item}}</li>
                        {{/each}}
                        </ul>
                    </div>
                </div>
                -->
                <div class="col-md-9">
                    {{outlet}}
                </div>
            </div>
        </div>
    </div>
</div>
